name: Rubocop Linter for my code

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  lint:
    name: Run RuboCop
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4' 
          bundler-cache: true  # cachers gem dependencies

      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3

      - name: Run RuboCop
        run: bundle exec rubocop
