name: SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    env:
      SESSION_SECRET: ${{ secrets.SESSION_SECRET }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      DATABASE_PATH: ${{ secrets.DATABASE_PATH }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4

      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3

      - name: Prepare test database
        run: |
          mkdir -p db
          sqlite3 db/whoknows.db < db/schema.sql

      - name: Run tests with coverage
        run: bundle exec rspec

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectKey: DevOps-SingleMode_I-Know
          organization: DevOps-SingleMode
          token: ${{ secrets.SONAR_TOKEN }}
